<div class="tab-pane" id="link2" aria-expanded="false">
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>FechaAlta</th>
            <th>GastoTotal</th>
        </tr>
        </thead>
        {{#clientes}}
        <tbody>
        <tr>
            <td >{{nombre}}</td>
            <td>{{apellido}}</td>
            <td>{{email}}</td>
            <td>{{dia}}/{{mes}}/{{anyo}}</td>
            <td>{{importeTotal}}</td>
        </tr>
        </tbody>
        {{/clientes}}
    </table>
</div>