<div class="tab-pane" id="link3" aria-expanded="false">
    <table class="table">
        <thead>
        <tr>
            <th>Pais</th>
            <th>Capital</th>
            <th>NumHabitantes</th>
            <th>VentaTotal</th>
        </tr>
        </thead>
        {{#lugares}}
        <tbody>
        <tr>
            <td>{{pais}}</td>
            <td>{{capital}}</td>
            {{#habitantes}}
            <td>{{habitantes}}</td>
            {{/habitantes}}
            {{^habitantes}}
            <td></td>
            {{/habitantes}}
            <td>{{importeTotal}}</td>
        </tr>
        </tbody>
        {{/lugares}}
    </table>
</div>