<div class="tab-pane" id="link5" aria-expanded="false">
    <table class="table">
        <thead>
        <tr>
            <th>Item</th>
            <th>Precio</th>
            <th>Descripcion</th>
            <th>VentaTotal</th>
        </tr>
        </thead>
        {{#productos}}
        <tbody>
        <tr>
            <td>{{nombre}}</td>
            <td>{{importe}}</td>
            <td>{{descripcion}}</td>
            <td>{{importeTotal}}</td>
        </tr>
        </tbody>
        {{/productos}}
    </table>
</div>